image:
  pullPolicy: Always
ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-staging
  tls:
    - hosts:
        - ${host}
      secretName: ixo-matrix-claims-bot-tls
  hosts:
    - host: ${host}
      paths:
        - path: /
          pathType: Prefix
persistentVolume:
  storageClass: ${storage_class}
  size: ${storage_size}
service:
  port: 8083
env:
  - name: "PORT"
    value: "8083"
resources:
  requests:
    memory: 400Mi
    cpu: "40m"
  limits:
    memory: 600Mi
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 1
  targetMemoryUtilizationPercentage: "30"
backup:
  resources:
    requests:
      memory: 128Mi
      cpu: 10m
    limits:
      memory: 600Mi
  gcs:
    bucket: ${gcs_bucket}