provider:
  name: cloudflare
registry: noop
namespaced: false
rbac:
  create: true
sources:
  - ingress
  - service
env:
  - name: CF_API_TOKEN
    value: ${CF_API_TOKEN}
resources:
  limits:
    memory: 50Mi
  requests:
    memory: 50Mi
    cpu: 10m