#file: noinspection YAMLSchemaValidation
alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        cpu: 40m
        memory: 200Mi
      limits:
        memory: 400Mi
defaultRules:
  rules:
    alertmanager: false
    etcd: false
    configReloaders: false
    general: false
    k8sContainerCpuUsageSecondsTotal: true
    k8sContainerMemoryCache: true
    k8sContainerMemoryRss: true
    k8sContainerMemorySwap: true
    k8sContainerResource: true
    k8sContainerMemoryWorkingSetBytes: true
    k8sPodOwner: false
    kubeApiserverAvailability: false
    kubeApiserverBurnrate: false
    kubeApiserverHistogram: false
    kubeApiserverSlos: false
    kubeControllerManager: false
    kubelet: false
    kubeProxy: false
    kubePrometheusGeneral: false
    kubePrometheusNodeRecording: false
    kubernetesApps: false
    kubernetesResources: false
    kubernetesStorage: false
    kubernetesSystem: false
    kubeSchedulerAlerting: false
    kubeSchedulerRecording: false
    kubeStateMetrics: false
    network: false
    node: true
    nodeExporterAlerting: false
    nodeExporterRecording: false
    prometheus: false
    prometheusOperator: false
    windows: false
prometheus:
  prometheusSpec:
    replicas: 1
    resources:
      requests:
        cpu: 300m
        memory: 600Mi
      limits:
        memory: 900Mi
    #https://github.com/CrunchyData/postgres-operator-examples/blob/main/kustomize/monitoring/prometheus/config/prometheus.yml
    additionalScrapeConfigs:
      ${indent(6, additional_scrape_metrics)}
      - job_name: 'cvms-exporter'
        metrics_path: '/metrics'
        scheme: 'http'
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [ __meta_kubernetes_service_name, __meta_kubernetes_namespace ]
            action: keep
            regex: ixo-cvms-exporter;core
          - source_labels: [ __meta_kubernetes_endpoint_port_name ]
            action: keep
            regex: metrics
      - job_name: 'hermes-telemetry'
        metrics_path: '/metrics'
        scheme: 'http'
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [ __meta_kubernetes_service_name, __meta_kubernetes_namespace ]
            action: keep
            regex: hermes-telemetry;core
          - source_labels: [ __meta_kubernetes_endpoint_port_name ]
            action: keep
            regex: telemetry
      - job_name: blackbox
        metrics_path: /probe
        params:
          module: [ http_2xx ]
        static_configs:
          - targets:
              ${indent(14, blackbox_targets)}
        relabel_configs:
          - source_labels: [ __address__ ]
            target_label: __param_target
          - source_labels: [ __param_target ]
            target_label: target
          - target_label: __address__
            replacement: prometheus-blackbox-exporter.prometheus-blackbox-exporter:9115
      - job_name: 'crunchy-postgres-exporter'
        kubernetes_sd_configs:
          - role: pod
            selectors:
              - role: pod
                label: postgres-operator.crunchydata.com/crunchy-postgres-exporter=true
        relabel_configs:
          # Keep exporter port and drop all others
          - source_labels: [ __meta_kubernetes_pod_container_port_number ]
            action: keep
            regex: 9187
          # Set label for namespace
          - source_labels: [ __meta_kubernetes_namespace ]
            target_label: kubernetes_namespace
          # Set label for pod name
          - source_labels: [ __meta_kubernetes_pod_name ]
            target_label: pod
          # Convert namespace and cluster name to pg_cluster=namespace:cluster
          - source_labels: [ __meta_kubernetes_namespace,__meta_kubernetes_pod_label_postgres_operator_crunchydata_com_cluster ]
            target_label: pg_cluster
            separator: ":"
            replacement: '$1$2'
          # Convert kubernetes pod ip to ip
          - source_labels: [ __meta_kubernetes_pod_ip ]
            target_label: ip
          # Convert postgres-operator.crunchydata.com/instance to deployment
          - source_labels: [ __meta_kubernetes_pod_label_postgres_operator_crunchydata_com_instance ]
            target_label: deployment
          # Convert postgres-operator.crunchydata.com/role to role
          - source_labels: [ __meta_kubernetes_pod_label_postgres_operator_crunchydata_com_role ]
            target_label: role
      - job_name: 'loki' # Loki Scrapes
        kubernetes_sd_configs:
          - role: service
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_namespace]
            action: keep
            regex: loki;loki
          - source_labels: [__meta_kubernetes_service_port_name]
            action: keep
            regex: http-metrics
      - job_name: 'crunchy-postgres-exporter-v4'
        kubernetes_sd_configs:
          - role: pod
            selectors:
              - role: pod
                label: crunchy-postgres-exporter=true

        relabel_configs:
          # Keep exporter port and drop all others
          - source_labels: [ __meta_kubernetes_pod_container_port_number ]
            action: keep
            regex: 9187
          # Set label for namespace
          - source_labels: [ __meta_kubernetes_namespace ]
            target_label: kubernetes_namespace
          # Set label for pod name
          - source_labels: [ __meta_kubernetes_pod_name ]
            target_label: pod
          # Convert namespace and cluster name to pg_cluster=namespace:cluster
          - source_labels: [ __meta_kubernetes_namespace,__meta_kubernetes_pod_label_pg_cluster ]
            target_label: pg_cluster
            separator: ":"
            replacement: '$1$2'
          # Convert kubernetes pod ip to ip
          - source_labels: [ __meta_kubernetes_pod_ip ]
            target_label: ip
          # Set deployment_name as deployment label
          - source_labels: [ __meta_kubernetes_pod_label_deployment_name ]
            target_label: deployment
          # Set label for role
          - source_labels: [ __meta_kubernetes_pod_label_role ]
            target_label: role
    rule_files:
      - /etc/prometheus/alert-rules.d/*.yml
    alerting:
      alertmanagers:
        - kubernetes_sd_configs:
            - role: pod
              selectors:
                - role: pod
                  label: app.kubernetes.io/component=crunchy-alertmanager
grafana:
  sidecar:
    skipTlsVerify: true
  plugins:
    - nline-plotlyjs-panel
  env:
    CLIENT_SECRET: ${grafana_oidc_secret}
  deploymentStrategy:
    type: Recreate
  persistence:
    enabled: true
    type: pvc
    storageClassName: ${storage_class}
    accessModes:
      - ReadWriteOnce
    size: 40Gi
    finalizers:
      - kubernetes.io/pvc-protection
  grafana.ini:
    database:
      wal: true
      cache_mode: shared
      migration_locking: false
    auth.generic_oauth:
      client_id: grafana-client
      client_secret: $__env{CLIENT_SECRET}
      auth_url: https://${dex_host}/auth
      api_url: https://${dex_host}/userinfo
      token_url: https://${dex_host}/token
      scopes: 'openid profile email groups'
      use_refresh_token: true
      groups_attribute_path: 'groups'
      allowed_groups: '${org}:ixo_core, ${org}:${environment}-devsecops'
      role_attribute_path: contains(groups[*], '${org}:${environment}-devsecops') && 'GrafanaAdmin' || 'Viewer'
      allow_assign_grafana_admin: false
      enabled: true
    server:
      domain: ${host}
      protocol: http
      root_url: "%(protocol)s://%(domain)s/grafana/"
      serve_from_sub_path: true
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/use-regex: "true"
      cert-manager.io/cluster-issuer: letsencrypt-staging
    hosts:
      - ${host}
    path: /grafana(/|$)(.*)
    pathType: ImplementationSpecific
    tls:
      - secretName: grafana-tls
        hosts:
          - ${host}
  additionalDataSources:
    - name: loki
      access: proxy
      type: loki
      url: http://loki.loki.svc.cluster.local:3100
prometheusOperator:
  prometheusConfigReloader:
    resources:
      request:
        cpu: 50m
        memory: 50Mi
      limits:
        memory: 50Mi
  admissionWebhooks:
    deployment:
      resources:
        requests:
          cpu: 50m
          memory: 100Mi
        limits:
          memory: 200Mi
  tls:
    enabled: true
  resources:
    limits:
      memory: 200Mi
    requests:
      memory: 100Mi
      cpu: 100m