- name: matrix-postgresql-0
  resources:
    requests:
      cpu: 100m
      memory: 750Mi
    limits:
      memory: 1Gi
  dataVolumeClaimSpec:
    accessModes:
      - "ReadWriteOnce"
    resources:
      requests:
        storage: 40Gi